body{
	margin: 0;
}

.background{
	background-size: 100%;
	min-height: 1080px;
	background-image: url(../img/back.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;

}